{% load static %}
<!-- About Start -->
<div class="container-fluid py-5">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px">
        <div class="position-relative h-100">
          <img
            class="position-absolute w-100 h-100"
            src="{% static "img/about.jpg" %} "
            style="object-fit: cover"
          />
        </div>
      </div>
      <div class="col-lg-7">
        <div class="section-title position-relative mb-4">
          <h6
            class="d-inline-block position-relative text-secondary text-uppercase pb-2"
          >
            About Us
          </h6>
          <h1 class="display-4">First Choice For Online Education Anywhere</h1>
        </div>
        <p>
          Discover the ultimate learning experience with our platform – your first choice for online education, 
          available anytime, anywhere. Whether you're looking to enhance your skills, explore new subjects,
           or advance your career, we provide a diverse range of courses designed to meet your needs. With expert 
           instructors, interactive learning materials, and a flexible schedule, you can learn at your own pace 
           and convenience. Join a community of motivated learners and gain the knowledge you need to succeed. 
           Our commitment to quality education ensures that you’re always a step ahead in your learning journey.
           Let me know if you need any changes!
        </p>
        <hr/>
        <div class="row pt-3 mx-0">
          <div class="col-3 px-0">
            <div class="bg-success text-center p-4">
              <h1 class="text-white" data-toggle="counter-up">{{counts.tags}}</h1>
              <h6 class="text-uppercase text-white">
                Available<span class="d-block">Subjects</span>
              </h6>
            </div>
          </div>
          <div class="col-3 px-0">
            <div class="bg-primary text-center p-4">
              <h1 class="text-white" data-toggle="counter-up">{{counts.courses}}</h1>
              <h6 class="text-uppercase text-white">
                Online<span class="d-block">Courses</span>
              </h6>
            </div>
          </div>
          <div class="col-3 px-0">
            <div class="bg-secondary text-center p-4">
              <h1 class="text-white" data-toggle="counter-up">{{counts.instructors}}</h1>
              <h6 class="text-uppercase text-white">
                Skilled<span class="d-block">Instructors</span>
              </h6>
            </div>
          </div>
          <div class="col-3 px-0">
            <div class="bg-warning text-center p-4">
              <h1 class="text-white" data-toggle="counter-up">{{counts.blogs}}</h1>
              <h6 class="text-uppercase text-white">
                Trending<span class="d-block">Blogs</span>
              </h6>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br/>
    <br/>
    <hr/>
    <div class='container '>
      <h2 class="text-center mb-4">Latest Blogs</h2>
      <div class='p-3 border rounded overflow-auto' style="max-height: 500px;">

        {% for blog in blogs %}
        <br/>
          <div class="row">
            <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px">
              <div class="position-relative h-100">
                <img
                  class="position-absolute w-100 h-100"
                  src="{{blog.image.url}}"
                  alt="{{blog.title}}"
                  style="object-fit: cover"
                />
              </div>
            </div>
            <div class="col-lg-7">
              <div class="section-title position-relative mb-4">
                <h6
                  class="d-inline-block position-relative text-secondary text-uppercase pb-2"
                >
                  Blogs
                </h6>
                <h1 class="display-4">{{blog.title}}</h1>
                {% for tag in blog.tags.all %}
                <span class="badge bg-primary me-2" style="color:white;font-size: 1.2rem;">{{ tag.name }}</span>
                {% endfor %}
              </div>
              <p>
                {{blog.content}}
              </p>
              
            </div>
          </div>
        {% endfor %}
      </div>
    </div>  
  </div>
</div>
<!-- About End -->
{% include "content/feature_content.html" %}
