{% load static %}
<!-- Topbar Start -->
<div class="container-fluid bg-dark">
  <div class="row py-2 px-lg-5">
    <div class="col-lg-6 text-center text-lg-left mb-2 mb-lg-0">
      <div class="d-inline-flex align-items-center text-white">
        <small><i class="fa fa-phone-alt mr-2"></i>{{site_info.phone}}</small>
        <small class="px-3">|</small>
        <small><i class="fa fa-envelope mr-2"></i>{{site_info.email}}</small>
      </div>
    </div>
    <div class="col-lg-6 text-center text-lg-right">
      <div class="d-inline-flex align-items-center">
        <a class="text-white px-2" href="{{site_info.social_links.facebook}}">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a class="text-white px-2" href="{{site_info.social_links.twitter}}">
          <i class="fab fa-twitter"></i>
        </a>
        <a class="text-white px-2" href="{{site_info.social_links.linkedin}}">
          <i class="fab fa-linkedin-in"></i>
        </a>
        <a class="text-white px-2" href="{{site_info.social_links.instagram}}">
          <i class="fab fa-instagram"></i>
        </a>
        <a class="text-white pl-2" href="{{site_info.social_links.youtube}}">
          <i class="fab fa-youtube"></i>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- Topbar End -->

<!-- Navbar Start -->
<div class="container-fluid p-0">
  <nav
    class="navbar navbar-expand-lg bg-white navbar-light py-3 py-lg-0 px-lg-5"
  >
    <a href="index.html" class="navbar-brand ml-lg-3">
      <h1 class="m-0 text-uppercase text-primary">
        <i class="fa fa-book-reader mr-3"></i>E_LEARN
      </h1>
    </a>
    <button
      type="button"
      class="navbar-toggler"
      data-toggle="collapse"
      data-target="#navbarCollapse"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-between px-lg-3"
      id="navbarCollapse"
    >
    <div class="navbar-nav mx-auto py-0">
      <a href="{% url 'learn:home' %}" class="nav-item nav-link {% if request.path == '/' %}active{% endif %}">Home</a>
      <a href="{% url 'learn:about' %}" class="nav-item nav-link {% if request.path == '/blogs/' %}active{% endif %}">Blogs</a>
      <a href="{% url 'learn:courses' %}" class="nav-item nav-link {% if request.path == '/courses/' %}active{% endif %}">Courses</a>
      <div class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"
          >Pages</a
        >
        <div class="dropdown-menu m-0">
         
          <a href="{% url 'learn:features' %}" class="dropdown-item">Our Features</a>
          <a href="{% url 'learn:team' %}" class="dropdown-item">Instructors</a>
          <a href="{% url 'learn:testimonial' %}" class="dropdown-item">Testimonial</a>
        </div>
      </div>
      <a href="{% url 'learn:contact' %}" class="nav-item nav-link {% if request.path == '/contact/' %}active{% endif %}">Contact</a>
    </div>
    {% if user.is_authenticated %}
      <a href="{% url "learn:profile" %}" class="btn btn-primary py-2 px-4 d-none d-lg-block">{{user.username}}</a>
      <form method='post' action="{% url "learn:logout" %}">{% csrf_token %}<button
        class='bg-primary py-2 text-white button-text-only' type="submit">Logout</button>
        </form>
    {% else %}
      
    <a href="{% url "learn:signup" %}" class="btn btn-primary py-2 px-4 d-none d-lg-block">Sign Up</a>
    <a href="{% url "learn:login" %}" class="btn btn-primary py-2 px-4 d-none d-lg-block">Login</a>
    {% endif %}
    </div>
  </nav>
</div>
<!-- Navbar End -->
