{% load static %}
<!-- Testimonial Start -->
<div class="container-fluid bg-image py-5" style="margin: 90px 0">
  <div class="container py-5">
    <div class="row align-items-center">
      <div class="col-lg-5 mb-5 mb-lg-0">
        <div class="section-title position-relative mb-4">
          <h6
            class="d-inline-block position-relative text-secondary text-uppercase pb-2"
          >
            Testimonial
          </h6>
          <h1 class="display-4">What Say Our Students</h1>
        </div>
        <p class="m-0">
          Our students love the flexibility and quality of our courses! 
          They appreciate the expert guidance, interactive lessons, and 
          real-world applications that make learning engaging and effective. 
          Many have advanced their careers, gained new skills, and achieved 
          their goals with us. Join them and experience the difference in online education!
        </p>
      </div>
      <div class="col-lg-7">
        <div class="owl-carousel testimonial-carousel">
          <div class="bg-white p-5">
            <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
            <p>
              This platform transformed my career! The web design 
              courses were detailed, practical, and easy to follow.
              I built a strong portfolio and landed my dream job. Highly recommended!
            </p>
            <div class="d-flex flex-shrink-0 align-items-center mt-4">
              <img class="img-fluid me-4" src={% static "img/testimonial-2.jpg"%} alt="" />
              <div>
                <h5>Gold D Roger</h5>
                <span>Web Design</span>
              </div>
            </div>
          </div>
          <div class="bg-white p-5">
            <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
            <p>
              This platform gave me the skills and confidence to excel
              in video editing. The hands-on lessons and expert guidance
              helped me master professional editing software. Now, 
              I create high-quality videos with ease!
            </p>
            <div class="d-flex flex-shrink-0 align-items-center mt-4">
              <img class="img-fluid me-4" src={% static "img/testimonial-1.jpg"%} alt="" /> 
              
              <div>
                <h5>Ema Whatson</h5>
                <span>Video Editor</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Testimonial Start -->
